{
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "react-app",
    "prettier"
  ],
  "plugins":[
    "import"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "jest": true
  },
  "globals": {
    "cy": true,
    "Cypress": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "requireConfigFile": false,
    "babelOptions": {
       "presets": ["@babel/preset-react"]
    }
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "import/no-named-as-default": 0,
    "react/static-property-placement": [
      "error",
      "property assignment",
      {
        "childContextTypes": "static public field",
        "contextTypes": "static public field",
        "contextType": "static public field",
        "defaultProps": "static public field",
        "displayName": "static public field",
        "propTypes": "static public field"
      }
    ],
    "react/state-in-constructor": ["error", "never"],
    "no-console": [1, { "allow": ["error"] }],
    "no-restricted-syntax": "off",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/function-component-definition":  
      [2, { "namedComponents": "arrow-function" }]
  }
}
