{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "prettier",
    "react-app",
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "jest": true,
  },
  "globals": {
    "cy": true,
    "Cypress": true,
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
    },
    "requireConfigFile": false,
  },
  "rules": {
    "react/require-default-props": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
      },
    ],
    "react/static-property-placement": [
      "error",
      "property assignment",
      {
        "childContextTypes": "static public field",
        "contextTypes": "static public field",
        "contextType": "static public field",
        "defaultProps": "static public field",
        "displayName": "static public field",
        "propTypes": "static public field",
      },
    ],
    "react/state-in-constructor": ["error", "never"],
    "no-console": [1, { "allow": ["error", "debug"] }],
    "no-restricted-syntax": "off",
    "react/jsx-uses-vars": "error",
    "react/function-component-definition": [
      2,
      { "namedComponents": "function-declaration" },
    ],
  },
  "ignorePatterns": ["node_modules/*", "public"],
}
